[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = git@github.com:aws-quickstart/quickstart-aws-vpc.git
	branch = master
[submodule "submodules/quickstart-microsoft-utilities"]
	path = submodules/quickstart-microsoft-utilities
	url = git@github.com:aws-quickstart/quickstart-microsoft-utilities.git
	branch = master
[submodule "submodules/quickstart-microsoft-rdgateway"]
	path = submodules/quickstart-microsoft-rdgateway
	url = git@github.com:aws-quickstart/quickstart-microsoft-rdgateway.git
	branch = master
[submodule "submodules/quickstart-microsoft-activedirectory"]
	path = submodules/quickstart-microsoft-activedirectory
	url = git@github.com:aws-quickstart/quickstart-microsoft-activedirectory.git
	branch = master
